<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="choicetechlab.demo">

    <!-- Permissions to access internet & gps location -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MultiViewItemsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Background service to get location from network/gps depends on availablity of resource -->
        <service android:name=".GoogleService" />

        <!-- Firebase Crashlystics integration for app crash reporting -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9bd7bab56582ecf42aa9aaabc6294d8877eb9c00" />
    </application>

</manifest>